.animate__animated .animate__bounce {
  display: inline-block;
  margin: 0 0.5rem;

  animation: bounce;
  animation-duration: 2s;
}
.elementos {
  width: 400px;
}

.galeria img {
  width: 100%;
  height: 250px;
}
.galeria img:hover {
  border: 5px solid #fff;
}
section .col-md-6 {
  margin: 0;
  padding: 25px;
}
.conteiner {
  font-family: "Courgette", cursive;
  color: white;
  list-style-type: none;
}
.conteiner ul {
  list-style-type: none;
}
.fondo {
  background-color: #082381;
}
h1,
h2,
h3,
h4 {
  color: #f18119;
}
.lista li {
  list-style: circle;
}
.menu {
  background-color: rgb(14, 14, 73);
  font-family: "Times New Roman", Times, serif;
}

.menu ul li a:hover {
  background-color: coral;
}
.menuDown {
  font-family: "Times New Roman", Times, serif;
  color: white;
}
.menuDown ul li a:hover {
  color: coral;
}
.video {
  border: 3px solid #f18119;
  padding: 0px;
  margin-left: 300px;
  margin-top: 120px;
  width: 900px;
  height: 450px;
}
.hamburgesa {
  display: none;
}

@media (max-width: 705px) {
  .logo {
    margin-left: 22%;
  }
  .redesUp ul {
    display: none;
  }

  .anteojos img {
    margin-left: 20px;

    border: 3px solid coral;
  }
  h1 {
    display: flex;
    justify-content: center;
  }

  h4 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }
  .menuAbajo {
    margin: 0;

    flex-wrap: wrap;
    text-align: center;
  }

  .menuAbajo a:hover {
    color: coral;
  }

  .redesAbajo ul {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  }
  .video {
    padding-top: 25px;
    margin: 0;
    width: 100vw;
    height: 200px;
    display: flex;
    justify-content: center;
    border: none;
  }
  .piezas {
    margin-left: 25px;
    width: 300px;
  }
  .menu {
    display: none;
  }
  .hamburgesa {
    display: flex;
    width: 50px;
    height: 50px;
  }
}
